
{% extends "base.html" %} {% block content %} {% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  text-align:center
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<div class="container">

  <h1 style="text-align:center"><i>Bot Blocker</i></h1>
  <div class="row">
    <div class="col">
            <table style="width:100%", id="classification_table", style="display:none;">
                <tr bgcolor="#FFA500" style="font-size: larger;">
                  <th>Client Name</th>
                  <th>Result</th>
                  <th>Request Graph</th>
                </tr>
            </table>
    </div>
  </div>
</div>


<!-- Include the recorder.js library from a local copy -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script type="text/javascript" src='{% static "chat.js" %}'></script>
<script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
<script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>

<script>

  // self executing function
  (function poll() {
    setTimeout(function() {
        $.ajax({
            url: "/getKeys",
            type: "GET",
            success: function(data) {
                successCallback(data);
            },
            error: function (textStatus, errorThrown) {
                console.log(errorThrown);
                callbackError();
            },
            dataType: "json",
            complete: poll,
            timeout: 10000
        })
    }, 5000);
  })();

  function successCallback(response) {
    $('#classification_table').show();
    $("#classification_table").find("tr:gt(0)").remove();

    for(i = 0; i < response.data.length; i++) {
      var val = jQuery.parseJSON(response.data[i].value);
      var image = "static/" + response.data[i].key.split("=")[1] + '.png';
      var isBot = val.classification;
      console.log(isBot);
      if(isBot == true) {
      $('#classification_table tr:last').after('<tr bgcolor="#ffd6cc"><th style="font-size: larger;">'+
      response.data[i].key.split("=")[1]+'</th><th style="font-size: larger;"> Overall Score: '+
      val.score + '<br />Classification: ' + val.classification + '<br /> Prediction Score: ' + val.prediction
      + '<th><img src="' + image + '" alt="graph" height="200" width="200"></th>' + '</th></tr>');
      }
      else {
      $('#classification_table tr:last').after('<tr bgcolor="#e6ffe6"><th style="font-size: larger;">'+response.data[i].key.split("=")[1]+'</th><th style="font-size: larger;"> Score: '+
      val.score + '<br />Classification: ' + val.classification + '<br /> Prediction Score: ' + val.prediction
      + '<th><img src="' + image + '" alt="graph" height="200" width="200"></th>' + '</th></tr>');
      }

    }

  }

  function callbackError() {
      $('#imagename').show();
            var val = document.getElementById('imagename').value,
                src = 'https://cdn.dribbble.com/users/774806/screenshots/3823110/something-went-wrong.gif',
                img = document.createElement('img');

            img.src = src;
            document.body.appendChild(img);
  }

</script>
{% endblock content %} {% block afterbody %} {% endblock afterbody %}

